html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

h1 {
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
}

#taskContainer {
    min-height: calc(100vh - 290px);
    word-wrap: anywhere;
}


